<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
</head>
<body>
	<div id="canvas">
		<section id="canvas_header">
			<div>
				แยกผลไม้ได้ {{score}} ชิ้นแล้ว !!
			</div>
		</section>
		<section id="canvas_main" 
		:data-play="play">
			<main>
				<div class="box _path" v-for="i in 14" :data-pst="i"></div>
				<div class="box _toggle" data-pst="10" :data-isrightarrow="isRightArrow"></div>

				<div class="box _fruit" v-for="f in fruits ":data-pst="f.pst" :data-type="f.type"></div>

				<div class="box _origin"></div>
				<div class="box _12" data-pst="12"></div>
				<div class="box _16" data-pst="16"></div>
				
			</main>
		</section>
		<section id="canvas_footer">
			<div v-if="play" class="btn" id="toggle" @click="change">
				Toggle
			</div> 
			<div v-if="!play" class="btn" id="endgame" @click="re">
				Restart
			</div>
		</section>
	</div>

	<script>
		function rand(start,stop){
			let shift = (stop-start)+1
			return Math.floor(Math.random()*100%shift)+start
		}
		
		let nextFruitId = 3
		let isRightArrow = 1
		let speed = 1000
		let app = new Vue({
			el:'#canvas',
			data:{
				isRightArrow: isRightArrow,
				speed: speed,
				play:true,
				time:0,
				turn:0,
				score:0,
				fruits:[
					{id:1,type:16,pst:6,run:true,step:1}, //16 is yellow
					{id:2,type:11,pst:3,run:true,step:1}, 
				]
			},
			methods:{
				change: function(){
					if(this.isRightArrow == 1){
						this.isRightArrow = 0
					}else{
						this.isRightArrow = 1
					}
					console.log(this.isRightArrow)
				},

				re(){
					location.reload();
				}

			},
			computed:{},


			watch:{
				turn: function(){
					for(let f in this.fruits){

						if (this.fruits[f].pst == 10){
							if(this.isRightArrow == 1){
								this.fruits[f].step = 3 
							}else{
								this.fruits[f].step = 1
							}
						}



						if (this.fruits[f].pst == 11 || this.fruits[f].pst == 16) {

							if (this.fruits[f].pst == this.fruits[f].type && this.fruits[f].run) {
								this.score ++
							}

							else if (this.fruits[f].pst != this.fruits[f].type && this.fruits[f].run) {
								this.play = false 
							}
						}

						if (this.fruits[f].pst == 12 || this.fruits[f].pst == 16) {
							this.fruits[f].run = false
						}


						let run = this.fruits[f].run
						if (run) {
							this.fruits[f].pst = this.fruits[f].pst + this.fruits[f].step 
						}

					}

					let spawn = rand(0,1)
					if(spawn == 1){
						newfruit = rand(0,1)
						newfruitId = 3
						if(newfruit == 1){
							this.fruits.push({id:newfruitId,type:11,pst:1,run:true,step:1})
						}else{
							this.fruits.push({id:newfruitId,type:16,pst:1,run:true,step:1})
						}
						newfruitId++;
					}
				}
			}
		})

		setTimeout(function timespeed(){
			if (app.play) {
				app.turn++
				setTimeout(timespeed, app.speed)
			}
		},app.speed)
	</script>
</body>
</html>