body {
  background-color:#D8BFD8;
  font-family: 'Kanit', sans-serif;
}

div {
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

h3 {
  text-shadow: 2px 2px 5px #DAA520;
}

.row{
  box-shadow: 5px 3px 5px #0005;
  padding: .2em .1em;
  border-radius: 5px;
  margin-bottom: .3em;
}